<div class="image-container">
    <img src="assets/Login.jpeg" class="background-image">
    <div class="text-overlay">
      <form action="Login_Send()" method="post" class="Login">
        <input type="text" email="email" placeholder="Email oder Benutzername" class="Login-Mail">
        <br>
        <input type="password" email="Passwort" placeholder="Passwort" class="Login-Password">
        <br>
        <input type="submit" value="Login" class="Login-Send">
    </form>
    </div>
  </div>
<p>login works!</p>
