<nav class="navbar navbar-expand-sm" style="background-color: turquoise;">
    <div class="container-fluid">
        <div class="navbar-nav">
            <ul class="navbar-nav">
                <li id="idHome" class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Registrieren</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">
                <li style="font-weight: bold; text-align: right; cursor: pointer;">ecoadmin.ch</li>
            </ul>
        </div>
    </div>
</nav>
<!--<p>template-nav works!</p>-->